<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    
    <context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>nova-dark</param-value>
	</context-param>
    
<!--     <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>com.xyz.utils.SecurityFilter</filter-class> 
    </filter>
    
      <filter>
        <filter-name>NoCacheFiler</filter-name>
        <filter-class>com.xyz.utils.NoCacheFilter</filter-class> 
    </filter>
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.xyz.utils.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>*.jsf</url-pattern> 
    </filter-mapping> 
    
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping> 
    
       <filter-mapping>
        <filter-name>NoCacheFiler</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    -->
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <!-- Missing login -->
        <error-code>401</error-code>
        <location>/401.html</location>
    </error-page>
    <error-page>
        <!-- Forbidden directory listing -->
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>
    <error-page>
        <!-- Missing resource -->
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <!-- Uncaught exception -->
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
    <error-page>
        <!-- Unsupported servlet method -->
        <error-code>503</error-code>
        <location>/503.html</location>
    </error-page>
</web-app> 
